{% extends "layout.njk" %}

{% block head %}
    <title>Erro 404</title>
{% endblock head %}

{% block content %}
    <div id="wrapper-erro">
        <h1>Erro 404 - Nenhum conteúdo foi encontrado</h1>
    </div>
{% endblock content %}