# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\willian\Documents\launchbase\03-iniciando-no-back-end\.idea/dataSources/
/dataSources.local.xml
